.movie-card {
    position: relative;
    width: 140px;
    height: 207px;

}

.movie-card > div > img {
    width: 100%;
    height: 207px;
    overflow: hidden;
}

.badge-success {
    background-color: #f736aa;
    position: absolute;
    bottom: 174px;
    left: -4px;
    z-index: 100;
}