.movie-card {
    position: relative;
    width: 140px;
    height: 207px;
    border: none
}

.movie-card > div > img {
    width: 100%;
    height: 207px;
    overflow: hidden;
    border-radius: 10px;
}

.badge-success {
    background-color: #ff8d00;
    position: absolute;
    bottom: 174px;
    left: -4px;
    z-index: 100;
    border-radius: 4px;
    font-size: 18px;
    padding: 2px
}