.movie-card {
    position: relative;
    width: 140px;
    height: 207px;
    border: none
}

.movie-card > div > img {
    width: 100%;
    height: 207px;
    overflow: hidden;
}

.badge-success {
    background-color: #ff6600;
    position: absolute;
    bottom: 174px;
    left: -4px;
    z-index: 100;
    font-size: 18px;
    padding-left: 10px;
}

.no-image {
    background-color: dimgray;
    height: 207px;
}